.container {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
}

input {
    width: 200px;
    height: 50px;
}

form {
    margin: 20px auto;
}

button {
    width: 70px;
    height: 55px;
}

h1,
h2 {
    text-align: center;
}

h2 {
    font-weight: lighter;
}